<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel ='stylesheet' href="/style.css">
</head>
<body>
    <h1>this is registration page</h1>
    <h2>Register Here</h2>

    <form action = '/register' method = 'post'>
        User Name : <input type = 'text' name="uname">
        Password: <input type = 'password' name="pass">
        <button type="submit">Register</button>

    </form>

</body>
</html>